<h2> Welcome <%= current_user.username %>!!</h2>

<%= form_for @text_bark do |form| %>
  <%= form.text_field :body, placeholder: "Bark content here" %>
  <%= form.submit "Bark!" %>
<% end %>

<%= render @barks %>
